body{
	font-family: 'Alegreya Sans SC', sans-serif;
	word-spacing: .15em;
	color: #123456;
	text-shadow: 0px 1px 0px #888888;
	background: #56789a url('img/bg-texture.png') repeat;
}

a{
	color: #18407c;
	text-decoration: none;
}

h1{
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.500em;

	text-shadow: 2px 2px #222222;
	color: #abcdef;
}

.btn{
	color: #bce1ff;
	background: #213854;
	padding: 15px 30px;
	margin: 40px 0px;
	border-radius: 25px;
	text-transform: uppercase;
}

.btn:hover{
	color: #00ff00;
	background-color: #abcdef;
	background: #213854 url('img/texture.gif') repeat left top;
}

ul.nav{
	margin: 120px 0 0 0;
	list-style: none;
	float: right;
}

ul.nav li{
	float: left;
	margin-right: 40px;
}

ul.nav li a {
	color: #bce1ff;
}

.pic_border img{
	border: 8px solid #123456;
}

#intro{
	margin: 20px 17px 75px 0;
}

.pic_margin img{
	margin: 0 0 27px 0;
}

#copyright{
	border-top: 8px solid #2a0400;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
}



